gitdb==4.0.12
GitPython==3.1.45
numpy==1.26.4
pandas==2.3.3
parse==1.20.2
parse-type==0.6.6
pydantic==2.12.4
pysam==0.23.3
python-dateutil==2.9.0.post0
pytz==2024.2
setuptools==69.5.1
six==1.17.0
smmap==5.0.2
tzdata==2024.2
wheel==0.45.1
