name: Pull Request Tests

on:
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'docs/**'
      - '*.md'

jobs:
  tests:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
      
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.12'
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements-dev.txt
        
    - name: Run tests
      run: |
        ./run-tests.sh

    - name: Create Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and cache
      uses: docker/build-push-action@v5
      with:
        context: .
        push: false
        load: true
        tags: splicing_event_annotations
        cache-from: type=gha
        cache-to: type=gha,mode=max

    - name: Run tests
      run: |
        docker run -v $(pwd):/data --rm splicing_event_annotations /data/tests/fixtures/sample.tsv /data/tests/fixtures/tmp_sample_output.tsv && \
        diff tests/fixtures/tmp_sample_output.tsv tests/fixtures/sample_output.tsv